.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
docs/**
Examples/**
node_modules/**
.gitignore
.graphifyignore
esbuild.mjs
vite.config.ts
vitest.config.ts
eslint.config.mjs
vsc-extension-quickstart.md
index.html
bun.lock
**/tsconfig.json
**/*.ts
**/*.map
